@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Alkatra', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -88px;
    margin: auto;
}
.fadedCover{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}
.profile{
    position: absolute;
    top: 14%;
    left: 6%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.imgProfile{
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 50%;
    z-index: 1;
}
.imgJobs{
    width: 100%;
    height: 75px;
    border-radius: 50%;
}
.titleName{
    text-align: center;
    color: #333333;
    padding: 20px;
    font-size: 44px;
}
.container-NarrativePersonalAndProfession{
    padding: 30px 0px 30px 0px;
    position: relative;
    right: 4%;
    float: right;
    width: 60%;
    height: 70vh;
}
.narrativePersonal{
    position: relative;
    width: 80%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
}
span{
    color: red;
}
.profession{
    position: relative;
    width: 80%;
    height: 28vh;
    background-color: rgba(255, 255, 255, 0.5);
    left: 50%;
    transform: translate(-50%, -13%);
    padding: 20px;
    margin-top: 5px;
}
.titleFamilyBusiness{
    text-align: center;
    font-size: 30px;
}
.jobs{
    top: 10%;
    position: relative;
    width: 75px;
    height: 75px;
    float: left;
    margin-left: 10%;
    border-radius: 50%;
}
#img1Jobs{
    background-color: cadetblue;
}
#img2Jobs{
    background-color: chocolate;
}
.corazon {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url(../img/SilviaY_Esposo.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-45deg);
    margin: 50px;
    top: 36%;
    left: 19%;
  }
.corazon::before,
.corazon::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(../img/SilviaY_Esposo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.corazon::before {
    top: -50px;
    left: 0;
}
.corazon::after {
    top: 0;
    left: 50px;
}
.heart {
    position: relative;
    left: 19%;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 9%;
}
.newPartner{
    width: 100%;
    height: 200px;
}